<div class="container">
    <h1>Your Organization's Statistics</h1>
    <div class="card" style="width: 18rem;">
        <canvas id="canvas">{{ chart }}</canvas>
        <div class="card-body">
            <p class="card-text">An example!</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <canvas id="canvas2">{{ attendanceChart }}</canvas>
        <div class="card-body">
            <p class="card-text">How many members have attended meetings</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <canvas id="canvas3">{{ hsChart }}</canvas>
        <div class="card-body">
            <p class="card-text">High Schools Represented.</p>
        </div>
    </div>
</div>