.container{
    margin-top: 65px;
    text-align: center;
}

h1{
    margin-bottom:20px;
}

img:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

canvas{
    margin-right: 10px;
    margin-top: 65px;
}

.card{
    transition: card-shadow .3s;
    display: inline-block;
    margin: 10px;
    width: 30rem;
    height: 30rem;
}

.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
