<div class="container">
  <h1>Your Contacts</h1>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let contact of contacts" (click)="onSelect(contact)" [class.selected]="contact === selectedContact">
      {{contact.uid}} | {{contact.name}} | {{contact.description}}
      <button class="btn btn-danger" (click)="deleteContact(contact)">Delete</button>
      <!--<div class="contact-element">
        <div class="badge">{{contact.uid}}</div>
        <div class="name">{{contact.name}}</div>
        <div class="description">{{contact.description}}</div>
      </div>-->
    </li>
  </ul>
  <div class="editarea">
    <button class="btn btn-light" (click)="enableAddMode()">Add New Contact</button>
    <div *ngIf="selectedContact">
      <div class="editfields">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">ID:</span>
          </div>
          <input [(ngModel)]="selectedContact.uid" *ngIf="addingContact" type="text" class="form-control" placeholder="ID" aria-label="ID" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Name:</span>
          </div>
          <input [(ngModel)]="selectedContact.name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Description:</span>
          </div>
          <input [(ngModel)]="selectedContact.description" type="text" class="form-control" placeholder="description" aria-label="description" aria-describedby="basic-addon1">
        </div>
      </div>
      <button class="btn btn-light" (click)="cancel()">Cancel</button>
      <button class="btn btn-light" (click)="save()">Save</button>
    </div>
  </div>
</div>