a{
    margin-left: 5px;
}

.container{
    margin-top:60px;
    text-align: center;
}

.carousel {
    width:640px;
    height:360px;
    margin-left: 215px;
}

.carousel-indicators,
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-item{
    width: 400px;
    height: 250px;
    margin-left: 120px;
    margin-top: 125px;
}